
<div class="row">
    <button type="button" ng-click="toggleEditMode()">{{editmode ? 'Disable Editing' : 'Enable Editing'}}</button>
    <button type="button" ng-click="saveArticle(article)">Save</button>
    <button type="button" ng-click="updateArticle(article)">Update</button>
    <button type="button" ng-click="surroundSelection()">test</button>
</div>
<div class="row">
    <div  class="col-md-8 col-sm-12 col-md-offset-2 col-sm-offset-0 content">
        <h1 ng-model="article.title" medium-editor options='{"placeholder": "Enter a title", "disableToolbar": true, "forcePlainText": true, "disableReturn": true}'></h1>

        <p class="article" ng-model="article.content" medium-editor options='{"buttons": ["bold", "italic", "highlight"]}' bind-options="mediumBindOptions"></p>
    </div>
</div>


